'.source.ruby, .source.coffee':
  'todo':
    'prefix': 'todo'
    'body': '# TODO: $0'
  'fixme':
    'prefix': 'fix'
    'body': '# FIXME: $0'
  'xxx':
    'prefix': 'xxx'
    'body': '# XXX: $0'
  'idea':
    'prefix': 'idea'
    'body': '# IDEA: $0'
  'hack':
    'prefix': 'hack'
    'body': '# HACK: $0'
  'note':
    'prefix': 'note'
    'body': '# NOTE: $0'
  'review':
    'prefix': 'review'
    'body': '# REVIEW: $0'

'.text.haml':
  'todo':
    'prefix': 'todo'
    'body': '-# TODO: $0'
  'fixme':
    'prefix': 'fix'
    'body': '-# FIXME: $0'
  'xxx':
    'prefix': 'xxx'
    'body': '-# XXX: $0'
  'idea':
    'prefix': 'idea'
    'body': '-# IDEA: $0'
  'hack':
    'prefix': 'hack'
    'body': '-# HACK: $0'
  'note':
    'prefix': 'note'
    'body': '-# NOTE: $0'
  'review':
    'prefix': 'review'
    'body': '-# REVIEW: $0'

'.text.html.ruby .scope.outside-tag, .text.erb .scope.outside-tag':
  'todo':
    'prefix': 'todo'
    'body': '<%# TODO: $0 %>'
  'fixme':
    'prefix': 'fix'
    'body': '<%# FIXME: $0 %>'
  'xxx':
    'prefix': 'xxx'
    'body': '<%# XXX: $0 %>'
  'idea':
    'prefix': 'idea'
    'body': '<%# IDEA: $0 %>'
  'hack':
    'prefix': 'hack'
    'body': '<%# HACK: $0 %>'
  'note':
    'prefix': 'note'
    'body': '<%# NOTE: $0 %>'
  'review':
    'prefix': 'review'
    'body': '<%# REVIEW: $0 %>'

'.source.scss, .source.sass, .source.css.scss, .source.css.sass, .source.css.less, .source.js, .source.go, .source.scala':
  'todo':
    'prefix': 'todo'
    'body': '// TODO: $0'
  'fixme':
    'prefix': 'fix'
    'body': '// FIXME: $0'
  'xxx':
    'prefix': 'xxx'
    'body': '// XXX: $0'
  'idea':
    'prefix': 'idea'
    'body': '// IDEA: $0'
  'hack':
    'prefix': 'hack'
    'body': '// HACK: $0'
  'note':
    'prefix': 'note'
    'body': '// NOTE: $0'
  'review':
    'prefix': 'review'
    'body': '// REVIEW: $0'

'.source.css':
  'todo':
    'prefix': 'todo'
    'body': '/* TODO: $0 */'
  'fixme':
    'prefix': 'fix'
    'body': '/* FIXME: $0 */'
  'xxx':
    'prefix': 'xxx'
    'body': '/* XXX: $0 */'
  'idea':
    'prefix': 'idea'
    'body': '/* IDEA: $0 */'
  'hack':
    'prefix': 'hack'
    'body': '/* HACK: $0 */'
  'note':
    'prefix': 'note'
    'body': '/* NOTE: $0 */'
  'review':
    'prefix': 'review'
    'body': '/* REVIEW: $0 */'

'.html.basic .scope.outside-tag':
  'todo':
    'prefix': 'todo',
    'body': '<!-- TODO: $0 -->'
  'fixme':
    'prefix': 'fix',
    'body': '<!-- FIXME: $0 -->'
  'xxx':
    'prefix': 'xxx',
    'body': '<!-- XXX: $0 -->'
  'idea':
    'prefix': 'idea',
    'body': '<!-- IDEA: $0 -->'
  'hack':
    'prefix': 'hack',
    'body': '<!-- HACK: $0 -->'
  'note':
    'prefix': 'note',
    'body': '<!-- NOTE: $0 -->'
  'review':
    'prefix': 'review',
    'body': '<!-- REVIEW: $0 -->'
