'scopeName': 'text.todo'
'injectionSelector': 'comment, text.plain'
'patterns': [
  {
    'match': '(?<!\\w)@?(BUG|CASE|CHANGED|COMBAK|DEBUG|FIXME|HACK|IDEA|NB|NOTE|OPTIMIZE|QUESTION|REVIEW|TEMP|TODO|WARNING|XXX)\\b'
    'name': 'storage.type.class.${1:/downcase}'
  }
  {
    'captures':
      '1':
        'name': 'markup.underline.link.radar'
    'match': '<(ra?dar:/(?:/problems?|)/(?:[&0-9]+))>'
    'name': 'storage.type.class.radar'
  }
]
